@font-face {
    font-family: 'Panton';
    src: url('../fonts/Panton-ExtraBold.eot');
    src: local('Panton ExtraBold'), local('Panton-ExtraBold'),
    url('../fonts/Panton-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Panton-ExtraBold.woff') format('woff'),
    url('../fonts/Panton-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('../fonts/Panton-Bold.eot');
    src: local('Panton Bold'), local('Panton-Bold'),
    url('../fonts/Panton-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Panton-Bold.woff') format('woff'),
    url('../fonts/Panton-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Panton';
    src: url('../fonts/Panton-SemiBold.eot');
    src: local('Panton SemiBold'), local('Panton-SemiBold'),
    url('../fonts/Panton-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Panton-SemiBold.woff') format('woff'),
    url('../fonts/Panton-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Panton';
    src: url('../fonts/Panton-Regular.eot');
    src: local('Panton Regular'), local('Panton-Regular'),
    url('../fonts/Panton-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Panton-Regular.woff') format('woff'),
    url('../fonts/Panton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Bold.eot');
    src: local('Rubik Bold'), local('Rubik-Bold'),
    url('../fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-Bold.woff') format('woff'),
    url('../fonts/Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.eot');
    src: local('Rubik'), local('Rubik-Regular'),
    url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-Regular.woff') format('woff'),
    url('../fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff'), url('../fonts/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/opensansbold.woff2') format('woff2'), url('../fonts/opensansbold.woff') format('woff'), url('../fonts/opensansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
