body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul,
li,
textarea,
input,
form {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

a, a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.header {
    background-color: #000;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 190px;
    height: 100%;
}

.logo {
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.logo:hover,
.list__item a:hover {
    color: #FF8F00;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    cursor: pointer;
}

.logo__text {
    font-size: 50px;
    font-weight: 400;
    line-height: 130%;
    border-bottom: 5px solid;
    border-top: 5px solid;
    max-width: 190px;
    text-align: center;
    border-radius: 25px;
}

.list__item {
    margin: 0 25px;
}

.list__item a {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.title__block {
    margin-top: 230px;
}

.title__text {
    font-weight: 800;
    line-height: 130%;
    font-size: 50px;
    text-align: center;
}

.line {
    height: 3px;
    background-color: #FF8F00;
    margin: 30px 0;
}

.subtitle__block {
    margin-bottom: 30px;
}

.subtitle__text {
    font-weight: 300;
    line-height: 130%;
    text-align: center;
    font-size: 22px;
}

.btn__block {
    position: relative;
}

.btn {
    position: absolute;
    transform: translate(-50%);
    background-color: #FF8F00;
    color: #fff;
    width: 200px;
    height: 50px;
    font-size: 22px;
    animation: zoom 0.6s linear 1s infinite alternate;
    -webkit-animation: zoom 0.6s linear 1s infinite alternate;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

@keyframes zoom {
    0% {
        width: 200px;
        height: 50px;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        width: 215px;
        font-size: 28px;
        height: 60px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
}

.btn:hover {
    animation-play-state: paused;
}

.service__title {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 80px;
    color: #828282;
}

.service__line {
    height: 2px;
    background-color: #FF8F00;
    margin-bottom: 130px;
}

.service__menu {
    margin-bottom: 130px;
}

.service__btn {
    max-width: 300px;
    width: 100%;
    min-width: 280px;
    border: 3px solid #AEACAC;
    height: 280px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    z-index: 2;
    background-color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.service__text {
    color: #AEACAC;
    padding-top: 30px;
}

.service {
    position: relative;
    z-index: 0;
}

.service__btn:hover {
    border: 3px solid #FF8F00;
    color: #FF8F00;
    cursor: pointer;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.service__btn:hover h2 {
    color: #FF8F00;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.service__btn:hover svg {
    fill: #FF8F00;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
}

.price {
    background-color: #616161;
}

.price__title {
    font-weight: 200;
    color: #fff;
    text-align: center;
    margin: 50px;
}

.form__block {
    padding-bottom: 80px;
}

.form {
    border: 1px solid #B4B4B4;
    padding: 25px;
    max-width: 60%;
}

.form__input {
    background-color: #616161;
    height: 45px;
    margin: 40px auto;
    padding: 10px;
    color: #B4B4B4;
    border: 0;
    border-bottom: 1px solid #B4B4B4;
    overflow-y: scroll;
    text-align: center;
    width: 85%;
}

.form__input:focus {
    background-color: #616161;
    color: #B4B4B4;
    outline: none;
    -moz-appearance: none;
}

.form__btn {
    font-family: 'Montserrat', sans-serif;
    max-width: 250px;
    width: 100%;
    height: 50px;
    margin: 40px auto;
    display: block;
    border-radius: 5px;
    color: #fff;
    background-color: #FF8F00;
    border: 0;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
}

.contact__section {
    padding: 70px 25px;
}

.contact__line {
    height: 200px;
    background-color: #B4B4B4;
    width: 2px;
}

.contact__title {
    font-weight: 200;
    color: #828282;
    text-align: center;
    margin-bottom: 50px;
}

.contact__item {
    margin: 35px;
}

.contact__link {
    color: #000;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    position: relative;
}

.email:before {
    background-image: url('../img/email.svg');
}

.telegram:before {
    background-image: url('../img/send.svg');
}

.viber:before {
    background-image: url('../img/viber.svg');
}

.phone:before {
    background-image: url('../img/phone.svg');
}

.contact__link:before {
    position: absolute;
    left: -40px;
    top: 0;
    display: block;
    content: ' ';
    background-size: 28px 28px;
    height: 28px;
    width: 28px;
}

.contact__map {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 992px) {
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .title__text {
        font-size: 45px;
    }
    .subtitle__text {
        font-size: 18px;
    }
    .title__block {
        margin-top: 75px;
    }
    .contact__line {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding-top: 25px;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .logo__text {
        font-size: 30px;
        font-weight: 400;
        line-height: 130%;
        border-bottom: 2px solid;
        border-top: 2px solid;
        max-width: 150px;
        text-align: center;
        border-radius: 25px;
    }
    .list {
        flex-direction: column;
        text-align: center;
        width: 100%;
        min-width: 300px;
    }
    .list__item {
        font-size: 12px;
        border: 2px solid #FF8F00;
        margin: 5px;
        padding: 10px;
    }
    .title__text {
        font-size: 30px;
    }
    .title__block {
        margin-top: 50px;
    }
    .service__menu {
        flex-direction: column;
        align-items: center;
    }
    .service__line {
        margin-bottom: 50px;
    }
    .service__btn {
        margin: 20px 0;
    }
    .form {
        max-width: 85%;
    }
    .contacts__block {
        flex-direction: column;
    }
    .contact__item {
        margin: 35px;
        text-align: center;
        border: 1px dashed;
        /* min-width: 320px; */
        padding: 10px;
    }
    .contact__title {
        margin-bottom: 0;
    }
    .contact__frame {
        width: 300px;
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}