html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}

/* css reset */



.header {
    margin: 0 auto;
}

.firstscreen__wrapper {
    max-height: 100%;
    background: linear-gradient(to bottom,  #0e1a35 70%, #FFF 30%);
}

.header {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 400px;
    list-style: none;
}

.header__menu-mobile {
    text-align: right;
    list-style: none;
    position: absolute;
    min-height: 50vh;
    padding: 20% 15px 0 5%;
    background-color: #24386e;
    right: 0;
    top: 0;
    border-radius: 500px 50px 250px 0px;
    display: none;
    z-index: 1;
}

.menu__active {
    background-color: black;
    width: 100px;
}

.header__nav-mobile {
    z-index: 2;
    cursor: pointer;
}

.nav-mobile__icon-open {
    display: none;
}

.menu__item-mobile {
    margin-bottom: 30px;
}

.menu__item-close {
    position: absolute;
    top: 20px;
}

.header__menu > li > a {
    color: #FFF;
}

.header__menu-mobile > li > a {
    color: #FFF;
}

.menu__item:after {
    margin-top: 5px;
    background-color: #8492af;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    transition: width .4s ease-in-out;
}

.menu__item:hover:after,
.menu__item:hover:focus {
    width: 100%;
}

.menu__item-login:hover {
    background-color: #5584ff;
    transition: 1s;
}

.menu__item-login {
    border: 1px solid #5584ff;
    border-radius: 20px;
    padding: 10px 20px;
    transition: 1s;
}

.header__logo-img {
    width: 165px;
    height: 40px;
}

.header__nav {
    font-size: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/Graph.png");
    background-size: 100% 35%;
    background-repeat: no-repeat;
}

.title__first {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    color: #FFF;
    padding-top: 50px;
}

.title__second {
    font-family: 'Roboto', sans-serif;
    color: #8492af;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 10px;
}

.start__btn {
    margin: 50px 0;
    background-color: #5584ff;
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    color: #FFF;
    font-size: 0.75rem;
}

.img__dashbord {
    margin-top: 20px;
    max-width: 80%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);;
}

.secondscreen__wrapper {
    height: 100%;
    position: relative;
}

.functions {
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    margin: 100px auto 0 auto;
}

.functions__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    max-width: 250px;
    margin: 0 20px;
}

.functions__icon {
    height: 40px;
    width: 40px;
}

.functions__title {
    font-weight: bold;
    font-size: 1rem;
    padding-top: 20px;
}

.functions__description {
    margin-top: 10px;
    line-height: 1.3rem;
    color: #8492af;
    max-width: 400px;
    min-width: 200px;
}

.description__btn {
    margin: 25px 0;
    background-color: #FFF;
    border: 1px solid #dadee7;
    border-radius: 15px;
    padding: 10px 30px;
    color: #000;
    font-size: 0.75rem;
}

.description__btn:hover {
    background-color: #5584ff;
    color: #FFF;
}

.advantages {
    display: flex;
    justify-content: space-between;
    min-height: 60vh;
    margin-top: 5vh;
}

.advantages__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
    width: 100%;
    padding-left: 15vw;
}

.advantages__title {
    font-weight: 100;
    font-size: 2rem;
    margin: 15px 0;
}

.advanges__decription {
    line-height: 1.3rem;
    color: #8492af;
    font-size: 0.8rem;
    padding-bottom: 10px;
    max-width: 580px;
}

.advantages__maintext {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    color: #5284ff;
    font-size: 0.9rem;
}

.advantages__paragraph {
    margin: 20px 0 35px 0;
}

.description__img {
    background-image: url("../img/pc_tablet.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.description__icon {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.description__text {
    line-height: 1.3rem;
    color: #8492af;
    max-width: 400px;
    color: #5584ff;
    font-size: 1.2rem;
}

.thirdscreen__wrapper {
    height: 100%;
    background-color: #0e1a35;
    background-image: url("../img/Graph.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.content__wrapper {
    display: flex;
    position: relative;
    padding: 5%;
}

.firstcolumn__content {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-right: 50px;
    position: relative;
}

.column__title {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
    box-sizing: border-box;
}

.title__name {
    color: #FFF;
}

.title__nums {
    color: #8492af;
}

.title__arrow {
    color: #FFF;
    font-size: 1rem;
}

.column__block {
    width: 300px;
    height: 75px;
    background-color: #FFF;
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.item1 {
    position: absolute;
    left: 10%;
    top: 75%;
}

.task__main {
    display: flex;
    padding-left: 10px;
}

.task__avatar {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #5584ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 15px;
}

.task__description {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.task__options {
    position: relative;
}

.task__hand {
    position: absolute;
    bottom: -80px;
    right: -50px;
}

.description__timing {
    display: flex;
    align-items: center;
}

.timing__left-standart {
    color: #aab3c6;
    font-size: 0.75rem;
    padding-left: 5px;
}

.timing__left-complete {
    color: #0ec328;
    font-size: 0.75rem;
    padding-left: 5px;
}

.timing__left-delay {
    color: #f83c7b;
    font-size: 0.75rem;
    padding-left: 5px;
}

.options__item {
    font-size: 0.8rem;
    color: #aab3c6;
}

.secondcolumn__content {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.column__block-opacity {
    width: 300px;
    height: 75px;
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    align-items: center;
    border: 1px solid #8492af;
    border-style: dashed;
}

.text__opacity {
    color: #8492af;
}

.thirdcolumn__content {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: center;
    margin-left: 100px;
    margin-top: 50px;
}

.third__title {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 10px;
}

.third__content {
    margin: 15px 0 15px 0;
    color: #8492af;
}

.slider__nav {
    display: flex;
    width: 80px;
    justify-content: space-between;
}

.arrow__circle {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 1px solid #8492af;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow__triangle-left {
    transform: translateX(-25%);
    border: 5px solid transparent;	
    border-right: 5px solid #8492af;
    box-sizing: border-box;
}

.arrow__triangle-rigth {
    transform: translateX(25%);
    border: 5px solid transparent;	
    border-left: 5px solid #8492af;
    box-sizing: border-box;
}

.arrow__circle:hover {
    box-shadow: 0px 0px 1px 1px rgba(232,232,232,1);
    transition: 0.5s;
}

.fourthscreen__wrapper {
    height: 100%;
    background-color: #f6f7fa;
}

.fourthcontent__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.fourth__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    color: #000;
    margin-top: 100px;
}

.fourth__text {
    margin-top: 50px;
    text-align: center;
    line-height: 20px;
    font-size: 0.8rem;
    color: #8492af;
}

.fourth__img {
    margin-top: 50px;
    background-image: url("../img/Mockup.png");
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: space-between;
    height: 70vh;
    width: 60vw;
    position: relative;
    position: relative;
}

.imgtext__left {
    position: relative;
    top: 15%;
}

.imgtext__right {
    position: relative;
    top: 55%;
    text-align: right;
}

.text__title {
    font-weight: bolder;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.text__description {
    max-width: 165px;
    color: #aab3c6;
    font-size: 0.8rem;
    line-height: 15px;
    position: relative;
    margin-top: 20px;
}

.text__line-left {
    left: 0;
    top: 25px;
    position: absolute;
    border: 2px solid transparent;
    border-left: 25vw solid #5584ff;
}

.text__line-right {
    right: 0;
    top: 25px;
    position: absolute;
    border: 2px solid transparent;
    border-right: 25vw solid #5584ff;
}

.price__wrapper {
    background-color: #f6f7fa;
}

.prices {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    max-width: 900px;
    width: 100%;
    flex-wrap: wrap;
}

.price__block {
    box-shadow: 0px 0px 8px 2px rgba(209,209,209,1);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    transition: 1s;
    margin: 10px;
}

.price__block:hover {
    box-shadow: 0px 0px 8px 2px #5584ff;
    transition: 1s;
}

.price__title {
    font-weight: 300;
}

.price__value {
    margin: 50px 0;
}

.value__type {
    font-size: 1.3rem;
}

.value__money {
    font-size: 2rem;
    font-weight: 800;
}

.value__month {
    color: #8492af;
}

.price__description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.value__description {
    padding-left: 10px;
    color: #aab3c6;
    font-size: 0.8rem;
}

.join__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__line-left {
    width: 10vw;
    border-color: #fff;
    margin-right: 50px;
}

.btn__line-right {
    width: 10vw;
    margin-left: 50px;
    border-color: #fff;
}

footer {
    background-color: #0e1a35;
}

.footer__wrapper {
    height: 15vh;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.rights {
    color: #8492af;
}

.footer__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #8492af;
    padding: 0 30px;
    width: 200px;
}

.footer__menu > li > a {
    color: #8492af;
}

.social__icons {
    padding: 0 5px;
}

/* adapt for 769px and higher */

@media screen and (min-width: 1201px) and (max-width: 1440px) {
    .advantages__text {
        padding-left: 15vw;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .advantages__text {
        padding-left: 10vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
    .advantages__text {
        padding-left: 5vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
    .content__wrapper {
        flex-wrap: wrap-reverse;
    }
    .thirdcolumn__content {
        max-width: 600px;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .content__wrapper {
        justify-content: center;
    }
    .thirdscreen__wrapper {
        min-height: 750px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .fourth__img {
        height: 80vh;
        width: 70vw;
    }
    .fourth__title {
        margin-top: 50px;
    }
}

@media screen and (min-width: 769px) {
    .header__nav-mobile, .header__menu-mobile {
        display: none;
    }
}



/* adapt for 320 - 768px*/

/* first screen */

@media screen and (min-width: 320px) and (max-width: 500px) {
    .firstscreen__wrapper {
        background: linear-gradient(to bottom, #0e1a35 80%, #FFF 20%);
    }
}

@media screen and (max-width: 768px) {
    .header__nav {
        display: none;
    }
    .header__logo-img {
        content:url("../img/logo_mobile.png");
        width: 40px;
    }
    .header {
        padding: 15px;
    }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
    .title__first {
        font-size: 1.5rem;
    }
    .title__second {
        font-size: 1rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 499px) {
    .title__first {
        font-size: 1.1rem;
    }
    .title__second {
        font-size: 0.9rem;
    }
    .functions {
        margin: 50px auto 0 auto;
    }
}

/* second screen */

@media screen and (max-width: 768px) {
    .functions__item {
        max-width: 550px;
        margin: 20px;
    }
    .functions {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .secondscreen__wrapper {
        height: 100%;
    }
    .advantages {
        min-height: 0;
        margin-top: 0;
    }
    .advantages__text {
        padding-left: 3vw;
    }
}

@media screen and (min-width: 320px) and (max-width: 499px) {
    .title__first {
        font-size: 1.1rem;
    }
    .title__second {
        font-size: 0.9rem;
    }
    .description__img {
        background-image: url(../img/tablet-mobile.png);
        height: 200px;
        background-position: center;
    }
    .advantages {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .advantages__text {
        max-width: 90%;
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 402px) {
    .advantages__maintext {
        font-size: 0.85rem;
    }
}

/* third screen */


@media screen and (min-width: 320px) and (max-width: 768px) {
    .content__wrapper {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        align-items: center;
        padding: 2%;
    }
    .thirdcolumn__content {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        justify-content: center;
        margin-left: 0;
        text-align: center;
    }
    .slider__nav {
        margin: 0 auto;
    }
    .firstcolumn__content {
        display: flex;
        flex-direction: column;
        max-width: 320px;
        margin-right: 0;
    }
    .column__block, .column__block-opacity {
        width: 250px;
    }
    .description__title {
        font-size: 0.8rem;
    }
    .secondcolumn__content {
        margin-top: 50px;
    }
    .item1 {
        left: -5%;
        top: 100%;
    }
    .thirdscreen__wrapper {
        min-height: 1250px;
    }
}

/* fourth screen */

@media screen and (min-width: 320px) and (max-width: 768px) {
    .fourth__title {
        font-size: 1.8rem;
    }
    .fourth__text {
        max-width: 90%;
    }
    .fourth__text > p  {
        margin-bottom: 20px;
    }
    .fourth__img {
        width: 95vw;
    }
    .fourth__title {
        margin-top: 50px;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .text__title {
        font-size: 0.8rem;
    }
    .text__description {
        font-size: 0.6rem;
        max-width: 100px;
    }
    .fourth__img {
        width: 95vw;
        background-size: 100% 80%;
    }
    .fourth__title {
        margin-top: 25px;
    }
    .imgtext__left {
        position: relative;
        top: 5%;
    }
    
    .imgtext__right {
        position: relative;
        top: 65%;
        text-align: right;
    }
}


/* footer  */

@media screen and (min-width: 320px) and (max-width: 769px) {
    .footer__wrapper {
        flex-direction: column-reverse;
        justify-content: space-around;
        padding: 25px 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .footer__navbar {
        flex-direction: column;
    }
    .menu__icons {
        margin: 20px 0 10px 0;
        width: 175px;
        display: flex;
        justify-content: space-between;
    }
}