body, h1, h2, h3, h4, h5, p {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

/* START HEADER */

.header {
    height: 55px;
    background-color: #343434;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0 30px;
}

.wrapper_left {
    display: flex;
    align-items: center;
}

.wrapper_right {
    display: flex;
    align-items: center;
}

.nav__menu {
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.logo > h1 {
    color: #fff;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 19px;
}

.nav_lang > p {
    color: #fff;
}

.flag {
    margin: 0 10px 0 6px;
}

.nav__btn {
    width: 145px;
    height: 35px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
}

.login {
    background-color: transparent;
    border-color: #6B6B6B;
    margin: 0 10px 0 30px;
}

.register {
    background-color: #E76564;
    border: #E76564;
}

/* END HEADER */

/* START SECTION FIRST */

.offer__info {
    padding-left: 75px;
}

.offer__title {
    margin-top: 120px;
}

.offer__title > h1 {
    font-size: 28px;
    font-weight: 500;
}

.offer__subtitle > h1 {
    color: #E76564;
    font-size: 28px;
    font-weight: 500;
}

.offer__text > p {
    max-width: 500px;
    font-weight: 300;
    margin-bottom: 45px;
    font-size: 11px;
    max-width: 320px;
    line-height: 16px;
}

.offer__img {
    position: absolute;
    right: 30px;
    top: 70px;
}

.activities_btn {
    width: 200px;
    height: 45px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: #000;
    font-size: 10px;
    font-weight: 300;
    border-color: #000;
    margin-left: 20px;
}

.height {
    height: 45px;
    margin: 0;
}
/* END SECTION FIRST */

/* START SECTION SECOND */

.activities {
    background-color: #F3F5F9;
}

.activities__title {
    margin-top: 100px;
    padding-top: 50px;
    text-align: center;
}

.activities__title > h1 {
    font-size: 28px;
    font-weight: 500;
}

.activities__title > h1 > span {
    color: #E76564;
    text-decoration: underline;
}

.activities__subtitle > p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 12px;
}

.activities__filters {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70%;
}

.filter__item {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    background-color: #fff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(168, 168, 168, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(168, 168, 168, 1);
    box-shadow: 0px 0px 5px 0px rgba(168, 168, 168, 1)
}

.filter__item > p {
    font-size: 14px;
    font-weight: 500;
}

.slider__controls {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(168, 168, 168, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(168, 168, 168, 1);
    box-shadow: 0px 0px 5px 0px rgba(168, 168, 168, 1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.service__section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left > svg {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.service__list {
    display: flex;
    margin: 45px 0;
}

.service__item {
    padding: 5px;
    margin: 0 30px;
    height: 264px;
    width: 188px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(168, 168, 168, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(168, 168, 168, 1);
    box-shadow: 0px 0px 5px 0px rgba(168, 168, 168, 1);
}

.service__item > img {
    width: 100%; 
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.item__info {
    padding: 5px;
    border-bottom: 1px solid #F1F1F1;
}

.item__title {
    font-weight: 500;
    margin-bottom: 10px;
}

.item__subtitle {
    font-size: 12px;
    margin: 7px 0;
}

.item__location {
    font-size: 12px;
    display: flex;
    align-items: center;
}

.item__location > span {
    margin-left: 10px;
}

.item__mark {
    font-size: 12px;
    margin: 7px 0;
}

.item__mark > span {
    margin-left: 10px;
}

.item__mark> i {
    color: #E76564;
}

.item__time {
    padding: 0 5px;
    font-size: 10px;
    font-weight: 600;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.item__time > span:first-child {
    color: #E76564;
}

.item__closetime {
    padding: 0 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    margin-top: 2px;
}

.right > svg {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

.slider__dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot__item {
    margin: 5px;
    height: 10px;
    width: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(168, 168, 168, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(168, 168, 168, 1);
    box-shadow: 0px 0px 5px 0px rgba(168, 168, 168, 1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
}

.active {
    background-color: #E76564;
}

.activities__btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activities__btn > button {
    width: 215px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    background-color: #E76564;
}
/* END SECTION FIRST */